 <!-- Page Content -->
 <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">EEAltoValle
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/home">Home</a>
      </li>
      <li class="breadcrumb-item active">Sobre Nosotros</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Vision</h2>
        <p>Convertir a la región en un ecosistema articulado que maximice oportunidades y minimice los riesgos para los emprendedores, aprovechando sus fortalezas y colaborando en superar sus debilidades; favoreciendo la diversificación de la matriz productiva, la generación de empleo y la internacionalización de los emprendimientos.</p>
        </div>
      <div class="col-lg-6">
          <h2>Mision</h2>
          <p>El EE emprendedor del Alto Valle se ocupa de generar las condiciones contextuales favorables para el surgimiento y desarrollo de los emprendedores de la región. Articula los diferentes actores del ecosistema, facilitando el trabajo sinérgico y colaborativo para promover la cultura emprendedora.</p>
         </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
