<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h2 class="mt-4 mb-3">Etapas de Desarrollo de un Emprendimiento
    </h2>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="home">Home</a>
      </li>
      <li class="breadcrumb-item active">Etapas</li>
    </ol>

    <div class="row">
        <div class="col-lg-12">
        <p>Si sos emprendedor/a y necesitas asistencia, de acuerdo a la etapa en que consideres que esta tu emprendimiento podras ver que Organizaciones pueden asesorarte/ayudarte:</p>
      </div>
      </div>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <h3>1) Sensibilizacion</h3>
            <p>Generando cultura emprendedora. Emprendedores en busca de oportunidades, todavía sin una idea de negocio clara.</p>
            <a href="portfolio/sensibilizacion" class="btn btn-primary">Estoy en esta Etapa</a>
          </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="./assets/image/sensibilizacion.jpg" alt="">
      </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <h3>2) Gestacion</h3>
            <p>Emprendedores armando su Emprendimiento. Validando la idea y desarrollando prototipo del producto o servicio (MVP).</p>
            <a href="portfolio/gestacion" class="btn btn-primary">Estoy en esta Etapa</a>
          </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="./assets/image/gestacion.jpg" alt="">
      </div>
      
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <h3>3) Puesta en Marcha</h3>
            <p>Primeros años de vida del emprendimiento, habiendo ingresado al mercado. Empezando a formalizarlo.</p>
            <a href="portfolio/enmarcha" class="btn btn-primary">Estoy en esta Etapa</a>
          </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="./assets/image/puesta_en_marcha.jpg" alt="">
      </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <h3>4) Crecimiento</h3>
            <p>Emprendimiento formalizado, con más de 2 años de vida en el mercado.</p>
            <a href="portfolio/crecimiento" class="btn btn-primary">Estoy en esta Etapa</a>
          </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="./assets/image/crecimiento.jpg" alt="">
      </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-6">
            <h3>5) Escalabilidad</h3>
            <p>Emprendimientos que buscan internacionalizarse y/o cuentan con perspectivas de crecimiento exponencial</p>
            <a href="/portfolio/escalabilidad" class="btn btn-primary">Estoy en esta Etapa</a>
          </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="./assets/image/escalabilidad.jpg" alt="">
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
