 <!-- Page Content -->
 <div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h2 class="mt-4 mb-3">Organizaciones</h2>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Home</a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/etapas">Etapas</a>
    </li>
    <li class="breadcrumb-item active">Organizaciones</li>
  </ol>

  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" *ngFor="let item of items | async">
      <div class="card h-100">
        <img class="card-img-top" src="{{ item.logo }}" alt="">
        <div class="card-body">
          <h4 class="card-title">
            {{ item.nombre }}
          </h4>
          <p class="card-text">{{ item.objetivo | slice:0:100 }}</p>
          <a routerLink="/detalle/{{item.id}}"> ... ver mas</a>
        </div>
      </div>
    </div>
  
   
  </div>

</div>
<!-- /.container -->