<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-fluid rounded mb-4" src="./assets/image/logos.jpg" alt="">
        </div>
    </div>

    <h2 class="my-4">Sobre Nosotros:</h2>

    <!-- Intro Content -->
    <div class="row">
        <div class="col-lg-12">
          <h3>Visión</h3>
          <p>Convertir a la región en un Ecosistema articulado que maximice oportunidades y minimice los riesgos para los emprendedores, aprovechando sus fortalezas y colaborando en superar sus debilidades; favoreciendo la diversificación de la matriz productiva, la generación de empleo y la internacionalización de los emprendimientos.</p>
          </div>
        <div class="col-lg-12">
            <h3>Misión</h3>
            <p>El E.E. del Alto Valle se ocupa de generar las condiciones contextuales favorables para el surgimiento y desarrollo de los Emprendedores de la región.</p> 
            <p>Articula los diferentes actores del Ecosistema, facilitando el trabajo sinérgico y colaborativo para promover la cultura emprendedora.</p>
           </div>
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container -->