<!-- Page Content -->
<div class="container">

<!-- Page Heading/Breadcrumbs -->
<h1 class="mt-4 mb-3">{{ (item | async)?.nombre }}
  <!--small>Subheading</small-->
</h1>

<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="/home">Home</a>
  </li>
  <li class="breadcrumb-item">
      <a routerLink="/etapas">Etapas</a>
    </li>
  <li class="breadcrumb-item active">{{ (item | async)?.nombre }}</li>
</ol>

<!-- Portfolio Item Row -->

  <div class="row">
      <div class="col-md-6">
          <img class="img-fluid" src="{{ (item | async)?.logo }}" alt="">
        </div>

  <div class="col-md-6">
    <h3 class="my-3">Objetivo</h3>
    <p>{{ (item | async)?.objetivo }}</p>
    <h3 class="my-3">Publico</h3>
    <p>{{ (item | async)?.publico }}</p>
    <h3 class="my-3">Servicios</h3>
    <p>{{ (item | async)?.servicio }}</p>
    <h3 class="my-3">Contacto</h3>
    <ul>
        <li>{{ (item | async)?.email }}</li>
        <li>{{ (item | async)?.telefono }}</li>
        <li>{{ (item | async)?.direccion }}</li>
        <a routerLink="{{ (item | async)?.website }}">{{ (item | async)?.website }}</a>
    </ul>
  </div>

</div>
<!-- /.row -->

</div>