<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h2 class="mt-4 mb-3">Recursos
  </h2>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Home</a>
    </li>
    <li class="breadcrumb-item active">Recursos</li>
  </ol>

  <div class="row">
      <div class="col-lg-12">
      <p>Aqui podras acceder a diferentes Recursos:</p>
    </div>
    </div>

  <!-- Intro Content -->
  <div class="row">
      <div class="col-lg-6">
        <ul>
            <a href="https://drive.google.com/file/d/19Dje9y7DQeK8QL47CZjSTQOs11elKI-C/view" >Catalogo Organizaciones EEAV</a>
        </ul>
        </div>
      <br>
  </div>
  <!-- /.row -->


</div>
<!-- /.container -->
